.chicagoContainer {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-auto-flow: column;
    width: 100%;
    margin: 80px 0;
}

.chicagoContainer h2 {
    color: #333333;
}

.chicagoContainer p {
    font-size: 18px;
    font-weight: 500;
    width: 385px;
    color: #333333;
    letter-spacing: 1.3px;
    padding-bottom: 40px;
}

.imgContainer {
    position: relative;
    top: 0;
    right: 0;
}

.imgA {
    position: relative;
    height: 200px;
    width: 300px;
    float: right;
    margin: 32px 0;
}

.imgB {
    position: absolute;
    height: 200px;
    width: 300px;
    top: 150px;
    margin: 2rem;
}