.heroContainer {
    background-color: #495E57;
    height: 430px;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    width: 100%;
}

.heroContainer p {
    font-size: 18px;
    font-weight: 500;
    width: 249px;
    color: #EDEFEE;
    letter-spacing: 1.3px;
}

.heroImg {
    border-radius: 15px;
    width: 25rem;
    height: 445px;
    margin-top: 60px;
    float: right;
    margin-right: 0;
}