nav {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

/*.container {*/
/*    !*justify-content: right;*!*/
/*    display: grid;*/
/*    grid-template-columns: 1fr 2fr;*/
/*    grid-auto-flow: row;*/
/*}*/

@media (max-width: 700px) {
    .container {
        display: grid;
        grid-auto-flow: row;
        width: 100%;
    }

    .navElements {
        display: none;
    }
}

@media (min-width: 701px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-auto-flow: column;
    }

    .navElements {
        display: flex;
        justify-content: flex-end;
        margin-top: 2.5rem;
    }
}

.container img {
    display: flex;
    justify-content: right;
    margin: 2rem 0;
}

.navElements li {
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    padding-left: 30px;
}

.element {
    text-decoration: none;
    color: #333333;
}

.element:active {
    color: #F4CE14;
}
