.App {
  display: flex;
  padding: 16px;
  margin: 2rem;
  flex-direction: column;
  min-height: 100vh;
}

/*header img {*/
/*  position: relative;*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*}*/

main {
  min-height: 100vh;
}